name: Core
on:
  push:
    branches:
      - main
    paths:
      - core/**
      - .github/workflows/core.yml
      - .github/actions/core/**
jobs:
  deploy-core:
    name: Deploy core
    uses: ./.github/workflows/core-deploy-source.yml
    permissions:
      id-token: write
      contents: read
    with:
      environment: prod
    secrets:
      aws-region: ap-southeast-1
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      app-name: ${{ secrets.APP_NAME }}
      tf-bucket: ${{ secrets.TF_BACKEND_BUCKET_NAME }}
      frontend-bucket: ${{ secrets.APP_NAME }}
      resource-sharing-bucket: ${{ secrets.APP_NAME }}-resource-sharing
      artifact-bucket: ${{ secrets.APP_NAME }}-artifacts

  update-cdn:
    name: Update CDN
    runs-on: ubuntu-latest
    needs:
      - deploy-core
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Invalidate Cache on Cloudfront if CLOUDFRONT_DISTRIBUTION_ID provided
        env:
          CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
          S3_PATH: /_s3/core/*
        run: |
          if [[ ! -z "$CLOUDFRONT_DISTRIBUTION_ID" ]]
          then
            aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "$S3_PATH"
          fi
