name: Core
on:
  push:
    branches:
      - main
    paths:
      - core/**
      - .github/workflows/core.yml
jobs:
  deploy-core-infrastructure:
    name: Deploy core.infrastructure to AWS
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./core/infrastructure
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - uses: actions/checkout@v1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Apply Terraform
        working-directory: ./core/infrastructure/src
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          TF_BACKEND_BUCKET_NAME: ${{ secrets.TF_BACKEND_BUCKET_NAME }}
          TF_BACKEND_BUCKET_PATH: prod/core.tfstate
          TF_VAR_GLOBAL_PREFIX: prod
          TF_VAR_FRONTEND_S3_BUCKET_NAME: ${{ secrets.APP_NAME }}
          TF_VAR_RESOURCE_SHARING_BUCKET_NAME: ${{ secrets.APP_NAME }}-resource-sharing
        run: |
          chmod +x ../script/apply.sh
          ../script/apply.sh
        shell: bash
  deploy-core-frontend:
    name: Deploy core.frontend to AWS
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./core/frontend
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - uses: actions/checkout@v1

      - name: Build Frontend
        uses: ./.github/actions/core/frontend/build
        with:
          frontend-directory: ./core/frontend
          identity-remote-entry-url: https://devdiary.link/_s3/identity/remoteEntry.js
          public-path: /_s3/core/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: core.frontend
          path: ./core/frontend/dist/

      - name: Upload to S3
        env:
          FRONTEND_S3_BUCKET_NAME: ${{ secrets.APP_NAME }}
          UPLOAD_PATH: core
        run: aws s3 cp dist/ s3://"$FRONTEND_S3_BUCKET_NAME"/_s3/"$UPLOAD_PATH" --recursive

      - name: Invalidate Cache on Cloudfront if CLOUDFRONT_DISTRIBUTION_ID provided
        env:
          CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
          S3_PATH: /_s3/core/*
        run: |
          if [[ ! -z "$CLOUDFRONT_DISTRIBUTION_ID" ]]
          then
            aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "$S3_PATH"
          fi
