name: Deploy to AWS
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy core.frontend to AWS
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./core/frontend
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.13.2

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Upload to S3
        run: aws s3 cp dist/ s3://devdiary.link/ --recursive
