name: deploy Identity from source
on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
    secrets:
      aws-access-key-id:
        required: true
      aws-secret-access-key:
        required: true
      aws-account-id:
        required: true
      aws-region:
        required: true
      app-name:
        required: true
      tf-bucket:
        required: true
      frontend-bucket:
        required: true
jobs:
  deploy-identity-backend:
    name: Deploy identity.backend to AWS for acceptance test
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ secrets.aws-region }}

      - uses: actions/checkout@v1

      - name: Setup Python and Dependencies
        uses: ./.github/actions/identity-backend-setup
        with:
          backend-directory: ./identity/backend/

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Apply Terraform
        working-directory: ./identity/infrastructure/src
        env:
          AWS_REGION: ${{ secrets.aws-region }}
          TF_VAR_AWS_REGION: ${{ secrets.aws-region }}
          TF_VAR_AWS_ACCOUNT_ID: ${{ secrets.aws-account-id }}
          TF_VAR_APP_NAME: ${{ secrets.app-name }}
          TF_VAR_GLOBAL_PREFIX: ${{ inputs.environment }}
          TF_BACKEND_BUCKET_NAME: ${{ secrets.tf-bucket }}
          TF_BACKEND_BUCKET_PATH: ${{ inputs.environment }}/identity.tfstate
        run: |
          chmod +x ../script/apply.sh
          ../script/apply.sh
        shell: bash

  deploy-identity-frontend:
    name: Deploy identity.frontend to AWS for acceptance test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./identity/frontend
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ secrets.aws-region }}

      - uses: actions/checkout@v1

      - name: Build Frontend
        uses: ./.github/actions/identity-frontend-build
        with:
          frontend-directory: ./identity/frontend/

      - name: Upload to S3
        env:
          FRONTEND_S3_BUCKET_NAME: ${{ secrets.frontend-bucket }}
          UPLOAD_PATH: identity
        run: aws s3 cp dist/ s3://"$FRONTEND_S3_BUCKET_NAME"/_s3/"$UPLOAD_PATH" --recursive
